:root {
	--mainfont : 'Open Sans', sans-serif;
	--subfont : 'Lato', sans-serif;
	--logofont: 'Pacifico', cursive;
	--font: 'PT Sans', sans-serif;
	--brand: #ffc155;
	--brand-2: #709dca;
	--brand-3: #71b6d5;
	--headclor: #222222;
	--pcolor: #7b7b7b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	vertical-align: center;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

/* ==================
	common css ends 
 ====================*/

 .txt-upper {
 	text-transform: uppercase;
 }

 .txt-cap {
 	text-transform: capitalize;
}

.txt-center {
	text-align: center;
}

.txt-white {
	color: white;
}

.open-reg {
	font-family: var(--mainfont);
	font-weight: 400;
}

.open-bold {
	font-family: var(--mainfont);
	font-weight: 700;
}

.open-extra-bold {
	font-family: var(--mainfont);
	font-weight: 800;
}

.open-italic {
	font-family: var(--mainfont);
	font-weight: 400;
	font-style: italic;
}

.pacifico-reg {
	font-family: var(--logofont);
	font-weight: 400;
}

.lato-reg {
	font-family: var(--subfont);
	font-weight: 400;
}

.lato-bold {
	font-family: var(--subfont);
	font-weight: 700;
}


.PTsans-reg {
	font-family: var(--font);
	font-weight: 400;
}

.PTsans-bold {
	font-family: var(--font);
	font-weight: 700;
}

/* ==================
	typography css ends 
 ====================*/

nav {
 	width: 100%;
 	height: 98px;
 	/* background: #ddd; */
}

nav .navbar {
 	height: 98px;
}

nav .navbar .logo {
 	font-size: 30px;
 	color: var(--brand);
 	line-height: 90px;
 	transition: all linear .2s;
}

nav .navbar .logo:hover {
 	color: var(--brand-2);
}

nav .navbar .nav-list {
	width: 570px;
 	height: 98px;
 	float: right;
}

nav .navbar .nav-list ul {
	height: 98px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav .navbar .nav-list ul li a {
	color: var(--headclor);
	font-size: 16px;
	padding: 15px 20px;
	border-radius: 5px;
	transition: all linear .2s;
}

nav .navbar .nav-list ul li a:hover {
	background: var(--brand);
}

.navbar-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background: #ffda79;
	animation: displayNav 1s;
}

@keyframes displayNav {
	0%{
		top: -98px;
	}
	100%{
		top: 0;
	}

}
/* ==================
	navbar css ends 
 ====================*/

#banner .banner-slider .banner-item {
	width: 100%;
	height: 560px;
	position: relative;
	margin-top: 10px;
	z-index: 1;
}

#banner .banner-slider .banner-item::after {
	content: '';
	width: 100%;
	height: 560px;
	background: rgba(0, 0, 0, .51);
	position: absolute;
	inset: 0;
	z-index: -1;
}

#banner .banner-slider .banner-text h1 {
	font-size: 48px;
	padding-top: 235px;
	z-index: 99;
}

#banner .banner-slider .banner-text p {
	font-size: 25px;
}

#banner .banner-slider .banner-text a {
	font-size: 17px;
	padding: 17px 22px;
	background: var(--brand-2);
	border-radius: 5px;
	display: inline-block;
	margin-top: 90px;
	transition: all linear .3s;
}

#banner .banner-slider .banner-text a:hover {
	color: var(--headclor);
	background: var(--brand);
} 

#banner .bg-1 {
	background: url('../images/banner-1.jpg') no-repeat center / cover;
}

#banner .bg-2 {
	background: url('../images/banner-2.jpg') no-repeat center / cover;
}

#banner .bg-3 {
	background: url('../images/banner-3.jpg') no-repeat center / cover;
}

#banner ul.slick-dots {
	position: absolute;
	left: 50%;
	bottom: 42px;
	transform: translateX(-50%);
	display: flex;
}

#banner .slick-dots li {
	width: 7px;
	height: 7px;
	background: white;
	border-radius: 50%;
	margin: 0 15px;
	position: relative;
	cursor: pointer;
}

#banner .slick-dots li:last-child {
	margin-right: 0;
}

#banner .slick-dots li::after {
	content: '';
	width: 25px;
	height: 25px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: -10px;
	left: -10px;
	opacity: 0;
}

#banner .slick-dots li.slick-active::after {
	opacity: 1;
}

#banner .slick-dots li button {
	font-size: 0;
	border: 0;
	outline: 0;
}

#banner .left-arrow {
	cursor: pointer;
	width: 43px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	color: var(--brand);
	border: 1px solid var(--brand-2);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50px;
	z-index: 999;
	transform: translateY(-50%);
}

#banner .right-arrow {
	cursor: pointer;
	width: 43px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	color: var(--brand);
	border: 1px solid var(--brand-2);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	right: 50px;
	z-index: 999;
	transform: translateY(-50%);
}

 /* ==================
	banner css ends 
 ====================*/
#offer {
	width: 100%;
	height: 560px;
	margin-top: 80px;
}

#offer .offer-heading h2 {
	font-size: 26px;
	color: #709dca;
}

#offer .offer-heading p {
	font-size: 16px;
	color: #394b50;
}

#offer .offer-items {
	height: 420px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	margin-top: 80px;
}

#offer .offer-items .item {
	width: 570px;
	height: 95px;
}

#offer .offer-items .item .icon {
	width: 85px;
	height: 95px;
	float: left;
}

#offer .offer-items .item .icon i {
	font-size: 32px;
	color: #709dca;
	padding-left: 20px;
	transition: all linear .2s;
}

#offer .offer-items .item:hover .icon i {
	color: var(--brand);
}

#offer .offer-items .item .text {
	width: 485px;
	height: 95px;
	float: left;
}

#offer .offer-items .item .text h3 {
	font-size: 16px;
	color: #394b50;
	padding-bottom: 15px;
	transition: all linear .2s;
}

#offer .offer-items .item:hover .text h3 {
	color: var(--brand);
}

#offer .offer-items .item .text p {
	font-size: 13px;
	color: #7b7b7b;
	line-height: 22px;
}

 /* ==================
	offer css ends 
 ====================*/
#about {
	width: 100%;
	height: 620px;
	background: var(--brand);
	position: relative;
	margin: 90px 0;
	display: flex;
}

#about .about-img {
	width: 50%;
	height: 620px;
	background: url('../images/about.jpg') no-repeat center / cover;
	position: absolute;
	top: 0;
	left: 0;
}

#about .container .about-text {
	height: 100%;
	width: 505px;
	float: right;
}

#about .container .about-text h3 {
	font-size: 26px;
	margin-top: 90px;
}

#about .container .about-text p {
	font-size: 13px;
	line-height: 24px;
	padding-top: 26px;
}

#about .container .about-text a {
	font-size: 14px;
	line-height: 46px;
	display: inline-block;
	padding: 0 30px;
	border: 1px solid #cb8d21;
	background: #e7ad48;
	border-radius: 3px;
	transition: all linear .2s;
	margin-top: 85px;
}

#about .container .about-text a:hover {
	border-color: white;
}



/* ==================
	about css ends 
 ====================*/
#footer {
	width: 100%;
	height: 350px;
	background: #284156;
	display: flex;
}

#footer .footer-text {
	height: 280px;
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

#footer .footer-text .business-name {
	width: 280px;
	height: 270px;
}

#footer .footer-text .business-name a {
	font-size: 22px;
	transition: all linear .2s;
}

#footer .footer-text .business-name a:hover {
	color: var(--brand);
}


#footer .footer-text .business-name p {
	font-size: 14px;
	color: #c3c3c3;
	line-height: 20px;
	padding-top: 18px;
}
/* business css ends */

#footer .footer-text .contact {
	width: 270px;
	height: 270px;
}

#footer .footer-text .contact p:first-child {
	font-size: 22px;
	margin-bottom: 20px;
}

#footer .footer-text .contact .para {
	font-size: 14px;
	line-height: 20px;
	color: #c4c4c4;
	margin-bottom: 16px;
}

#footer .footer-text .contact ul li {
	margin-bottom: 12px;
}


#footer .footer-text .contact ul li i {
	font-size: 20px;
	color: var(--brand-2);
	margin-right: 20px;
	transition: all linear .2s;
}

#footer .footer-text .contact ul li:hover i {
	color: var(--brand);
}

#footer .footer-text .contact ul li a {
	font-size: 14px;
	transition: all linear .2s;
}

#footer .footer-text .contact ul li:hover a {
	color: var(--brand);
}
/* contact css ends */

#footer .footer-text .latest-tweets {
	width: 270px;
	height: 100%;
}

#footer .footer-text .latest-tweets p:first-child {
	font-size: 22px;
	margin-bottom: 20px;
}

#footer .footer-text .latest-tweets ul li {
	margin-bottom: 15px;
}

#footer .footer-text .latest-tweets ul li i {
	font-size: 20px;
	color: #71b6d5;
	transition: all linear .3s;
}

#footer .footer-text .latest-tweets ul li:hover i {
	color: var(--brand);
}

#footer .footer-text .latest-tweets ul li .para-1 {
	margin-top: -27px;
	padding-left: 15px;
}

#footer .footer-text .latest-tweets ul li .para-1 p {
	font-size: 13px;
	line-height: 20px;
	color: #c4c4c4;
}

#footer .footer-text .latest-tweets ul li .para-2 {
	font-size: 13px;
	line-height: 20px;
	color: #c4c4c4;
	margin-top: -20px;
	padding-left: 15px;
}

#footer .footer-text .latest-tweets ul li span {
	font-size: 13px;
	color: #71b6d5;
	display: block;
	margin-top: -20px;
	margin-left: 15px;
}
/* latest-tweets css ends */

#footer .footer-text .news-letter {
	width: 270px;
	height: 270px;
}

#footer .footer-text .news-letter p:first-child {
	font-size: 22px;
	margin-bottom: 18px;
}

#footer .footer-text .news-letter .email-txt {
	font-size: 13.5px;
	line-height: 20px;
	color: #c4c4c4;
	margin-bottom: 30px;
}

#footer .footer-text .news-letter form #email {
	width: 182px;
	height: 35px;
	padding: 10px 20px;
	outline: none;
	border: none;
	background: #172227;
	color: #a7a7a7;
	border-radius: 8px 0 0 8px;
	font-size: 14px;
}

#footer .footer-text .news-letter form #submit {
	width: 84px;
	height: 35px;
	padding: 11px 17px;
	outline: none;
	border: none;
	background: #71b6d5;
	color: white;
	border-radius: 0 8px 8px 0;
	font-size: 14px;
	position: absolute;
	cursor: pointer;
	transition: all linear .2s;
} 

#footer .footer-text .news-letter form #submit:hover {
	background: var(--brand);
	color: var(--headclor);
}
/* news-letter css ends */

/* ==================
	footer css ends 
 ====================*/
.back-top-btn {
	cursor: pointer;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: var(--brand);
	border: 1px solid var(--brand-2);
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	right: 50px;
	z-index: 999;
	display: none;
	animation: displayBtn 2s;
}

@keyframes displayBtn {
	0%{
      	top: 150px;
	}
	100%{
		top: 490px;
	}
}


/* ==================
	back-to-top button css ends 
 ====================*/
